* {
    box-sizing: border-box;
}


body {
    background: white;
    width: 100%;
}


div {
    background-color: darkgrey;
    border-radius: 10px;
    width: 100%;
}

img {
    border-radius: 10px;
    transition: transform 1s;
}

img:hover {

    transform: skew(100deg);
}

nav {
    background-color: lightgrey;
    float: left;
    text-align: left;
    width: 100%;
    height:100px;
    display: block;
    list-style: none;
   
}


nav ul li {

    list-style: none;
    
}


nav ul li a:link, nav ul li a:visited {
    display:block;
    background-color:lightgrey;
    color: darkred;
    text-shadow: 1px 1px white;
    text-decoration:none;
    list-style: none;
}
nav ul li a:hover, nav ul li a:active{
    display:block;
    background-color: darkred;
    color:white;
    border-radius: 5px;
    
}
a:link, a:visited, a:hover,a:active{
	color: darkred;
	
}

header, h1 {
    color: black;
    color: darkred;
    text-shadow: 3px 3px white;
}

h3 {
    color: darkred;
}


.sources a {
    text-decoration: none;
    
}

.sources a:hover {

        background-color: darkred;
        color: darkgrey;
        border-radius: 5px;
}


footer {
    margin-top: 200px;
    height: 50px;
}
.icon-bar {
    width: 100%; /* Full-width */
    background-color: darkred; 
    overflow: auto; /* Overflow due to float */
    border-radius: 10px;
}

.icon-bar a {
    float: left;
    text-align: center; /* Center-align text */
    width: 50%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: rgb(25, 82, 189); /* Add a hover color */
    }

[class*="col-"] {
    width: 100%; 
    float:left; 
    padding:15px; 

}
@media only screen and (min-width: 600px) {

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{ 
        max-width:1200px;
        background-repeat:no-repeat;
        background-position:center top;
        background-size:cover;
        background-color:white;
    }
}




